---
import Button from '@components/Button.astro';
import SkillCarousel from '@components/SkillCarousel.astro';
import About from '@components/About.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import portraitImg from '@assets/portrait.png';

interface PortraitProps {
  src: ImageMetadata;
  alt: string;
}

const portrait: PortraitProps = {
  src: portraitImg,
  alt: 'My portrait'
};

interface LandingProps {
  title: string;
  alias: string;
  subtitle: string;
  cta: { title: string; link: string };
  social: Array<{ icon: string; link: string }>;
}

const items: LandingProps = {
  title: 'Andrew Campbell',
  alias: 'Exiles.prx',
  subtitle: 'Software Engineer',
  cta: { title: 'Email me', link: 'mailto:exiles.prx@gmail.com' },
  social: [
    {
      icon: 'fa6-brands:github',
      link: 'https://github.com/exilesprx'
    },
    {
      icon: 'fa6-brands:linkedin',
      link: 'https://www.linkedin.com/in/andrew-campbell-014002134/'
    },
    {
      icon: 'fa6-solid:id-card',
      link: 'https://dot.cards/adcampbell'
    }
  ]
};
---

<section>
  <div class="mx-auto min-h-screen">
    <div class="grid grid-cols-1 md:grid-cols-4">
      <div class="md:col-span-2 bg-gray-100 dark:bg-slate-800 min-h-screen p-8 pt-12 lg:pt-24 dark-mode-transition">
        <div class="justify-center justify-items-center text-center">
          <div class="py-4">
            <Image
              src={portrait.src}
              alt={portrait.alt}
              class="rounded-full object-cover size-24 sm:size-64"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div
            class="py-4 text-primary dark:text-white font-bold text-2xl md:text-2xl lg:text-4xl"
          >
            {items.title}
          </div>
          <div class="text-primary dark:text-white text-sm md:text-sm lg:text-md">
            aka {items.alias}
          </div>
          <div class="py-4 text-primary dark:text-white text-lg md:text-lg lg:text-xl">
            {items.subtitle}
          </div>
          <div class="grid grid-cols-1 justify-center">
            <div class="py-4">
              <SkillCarousel />
            </div>
            <div class="py-4">
              <Button
                title={items.cta.title}
                link={items.cta.link}
              />
            </div>
            <div
              class="grid grid-cols-3 gap-6 justify-center justify-items-center"
            >
              {
                items.social.map((social) => (
                  <a
                    class="py-4 text-primary/85 dark:text-white hover:text-primary dark:hover:text-white dark-mode-transition"
                    href={social.link}
                  >
                    <Icon
                      name={social.icon}
                      class="size-6 lg:size-12"
                      fill="currentColor"
                    />
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>

      <div class="md:col-span-2 min-h-screen p-8 justify-center pt-12 lg:pt-24 bg-gray-50 dark:bg-slate-900 dark-mode-transition">
        <About />
      </div>
    </div>
  </div>
</section>
